
/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {

    @apply bg-gray-200 border leading-tight border-gray-200 text-gray-700 pl-4 pr-4 pt-2 pb-2 rounded-md  flex-wrap my-5 mx-auto ;
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;	/*bg-indigo-100*/
}
.dataTables_wrapper label{

    @apply text-white space-x-3 font-bold py-3 shadow-lg p-2 rounded-md bg-pink-600;
}
.dataTables_wrapper label > :first ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(2 - var(--tw-space-x-reverse)));
  }
/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button		{
   
    @apply font-bold rounded border border-transparent;
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
  
    @apply text-white shadow font-bold rounded bg-indigo-500 border;
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #667eea !important;		/*bg-indigo-500*/
    border: 1px solid transparent;		/*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    @apply bg-indigo-500; /*bg-indigo-500*/
}
.accordion {
 
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
  
  .active, .accordion:hover {
    background-color: transparent;
  }
  
  .accordion:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    display: inline-block;
    margin-left:1rem;
    padding-right: 6px;
    vertical-align: middle;
    font-weight: 900;
    color: rgb(107, 248, 107);
    
  }
  
  .active:after {
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
    font-weight: 900;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
 
  
  .gradient {
    background: linear-gradient(110deg, #1c09c7 0%, #4ca4f7 100%);

}
/* Dropdown Button */


/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.lateral_togger:hover{

  @apply w-64
}
