/*Form fields*/

.dataTables_wrapper select, .dataTables_wrapper .dataTables_filter input {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 0.375rem;
  border-width: 1px;
  flex-wrap: wrap;
  line-height: 1.25;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

/*Row Hover*/

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;	/*bg-indigo-100*/
}

.dataTables_wrapper label > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.dataTables_wrapper label {
  --tw-bg-opacity: 1;
  background-color: rgba(219, 39, 119, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  font-weight: 700;
  padding: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.dataTables_wrapper label > :first ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(2 - var(--tw-space-x-reverse)));
}

/*Pagination Buttons*/

.dataTables_wrapper .dataTables_paginate .paginate_button		{
  border-color: transparent;
  border-radius: 0.25rem;
  border-width: 1px;
  font-weight: 700;
}

/*Pagination Buttons - Current selected */

.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
  --tw-bg-opacity: 1;
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  font-weight: 700;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/*Pagination Buttons - Hover */

.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
  font-weight: 700;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  background: #667eea !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Add padding to bottom border */

table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  --tw-bg-opacity: 1;
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity)); /*bg-indigo-500*/
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: transparent;
}

.accordion:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  display: inline-block;
  margin-left:1rem;
  padding-right: 6px;
  vertical-align: middle;
  font-weight: 900;
  color: rgb(107, 248, 107);
}

.active:after {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  font-weight: 900;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.gradient {
  background: linear-gradient(110deg, #1c09c7 0%, #4ca4f7 100%);
}

/* Dropdown Button */

/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display:block;
}

.lateral_togger:hover{
  width: 16rem
}

